<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	  rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	  crossorigin="anonymous">

<title>Systems Home Page</title>
</head>
	<body>
		<div class="container">
			 <p>
			  	User: <span sec:authentication="principal.username"></span>
			    Role(s): <span sec:authentication="principal.authorities"></span>
			  </p>
			  <hr>
			  
			   <h1>Welcome to Spring MVC - Security ... Systems</h1>
		 	    Welcome to ADMIN's Page...	
			   <hr>
			    <!-- Add a logout button -->
    			<form action="#" th:action="@{/logout}" method="POST">
        			<input type="submit" value="Logout" />
    			</form>		
		</div>
	</body>
</html>
